# Ignore Visual Studio Code settings folder
.vscode/

# Ignore __pycache__ folders recursively
__pycache__/
**/__pycache__/

# Ignore .pyc files
*.pyc
**/*.pyc
*.cpython-37.pyc
*.cpython-*.pyc

# Ignore files
utils/vehicle_mapping/vehicle_mapping.json
birdview_v2_cache/Carla/Maps/*

# Ignore generated folders
combined_lidar_frames/*
gt_bounding_boxes/*
frames_with_gt_bboxes/*
det_bounding_boxes/*
frames_with_det_bboxes/*
frames/*